## Loop

In [ ]:
iterable  = str, set, tuple, list, dict
iterator  = for, while, iter
iteration

In [1]:
var = "data"

In [2]:
for i in var:
    print(i)

d
a
t
a

In [3]:
x = 78676567
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [4]:
x = "78676567"
for i in x:
    print(i)

7
8
6
7
6
5
6
7

In [7]:
x = "78676567"
for i in x:
    print(i, end = "-")

7-8-6-7-6-5-6-7-

In [8]:
for i in range(10):
    print("a")

a
a
a
a
a
a
a
a
a
a

In [9]:
for i in range(10):
    print(i, "-", i**2)

0 - 0
1 - 1
2 - 4
3 - 9
4 - 16
5 - 25
6 - 36
7 - 49
8 - 64
9 - 81

In [10]:
list = ["apple", "banana","pienaaple", "orange"]

In [12]:
for i, j in enumerate(list):
    print(i+1, j)

1 apple
2 banana
3 pienaaple
4 orange

In [13]:
for i in list :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

apple
banana
pienaaple
orange
if for loop is going to complete itself the it will execute else

In [14]:
l = [2,3,4,1,2,3,4]

for i in l :
    if i == 4 :
        pass
    print(i)

2
3
4
1
2
3
4

In [15]:
for i in l :
    if i == 4 :
        break
    print(i)

2
3

In [16]:
for i in l :
    if i == 4 :
        continue
    print(i)

2
3
1
2
3

In [22]:
n = 4

for i in range(n) :
    for j in range(0, i+1) : 
        print("DA", end = " ")
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA