In [2]:
class person:
     def __init__(self, name, surname, emailid , year_of_birth): 
         self.name = name
         self.surname = surname
         self.emailid = emailid
         self.year_of_birth = year_of_birth

In [9]:
obj = person("rohit", "sharma", "rohit@gmail.com", "1988")

In [6]:
obj.name

'rohit'

In [7]:
obj.year_of_birth

'1988'

In [10]:
obj1 = person("virat", "kohli", "virat@gmail.com", "1990")

In [12]:
obj1.emailid

'virat@gmail.com'

In [13]:
####################

In [14]:
class person1:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
        
    def __init__(self, name,  year_of_birth):
        self.name = name
        self. year_of_birth= year_of_birth

    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth 
    
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [17]:
obj = person1("rohit", "sharma",   "1988")

In [18]:
obj.year_of_birth

'1988'

In [21]:
class person2:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name1 = name
        self.surname1 = surname
        self.emailid1 = emailid
        self.year_of_birth = year_of_birth
           
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth 
    
    def age_2(self, curretn_year):
        return curretn_year

In [25]:
obj = person2("virat", "kohli", "virat@gmail.com", 1990)

In [26]:
obj.age(2025)

35

In [27]:
obj.age_2(2025)

2025

In [28]:
class person4:                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person4):           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

In [29]:
o1 = person4()

In [30]:
o2 = employee()

In [31]:
o1.name

'amit'

In [32]:
o2.surname

'singh'

In [33]:
o2.age(2025)

34

In [34]:
o1.age(2025)

35

In [35]:
class ineuron:
    def student(self):
        print("print the details of all the students")
    def achivers(self):
        print("print the list of all the achiver ")
    def hall_of_fame(self):
        print("print everyone form hall of fame ")



class ineuron_vision(ineuron):

    def student(self):      #override method
        print("these are the filters student list ")

In [36]:
obj1 = ineuron()

In [38]:
obj1.student()

print the details of all the students

In [39]:
obj2 = ineuron_vision()

In [40]:
obj2.student()

these are the filters student list

In [41]:
class person11:
     def __init__(self, name, surname, emailid ): 
         self._name = name         #private
         self.surname = surname       #public
         self.__emailid = emailid   #protected

In [43]:
obj = person11("rohit", "sharma", "rohit@gmail.com")

In [44]:
obj.surname

'sharma'

In [45]:
obj._name

'rohit'

In [46]:
obj.__emailid

AttributeError: 'person11' object has no attribute '__emailid'

In [47]:
obj._person11__emailid

'rohit@gmail.com'

In [48]:
class bank :             # perents class 
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")


class HDFC_bank(bank):             # child class
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")

class icici(HDFC_bank):          # child class
    pass

In [49]:
bo = bank()

In [50]:
bo1 = HDFC_bank()

In [51]:
bo2 = icici()

In [58]:
class bank :
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")
    def test(self):                          # override code
        print("this is a test methond form bank class ")


class HDFC_bank:
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")
    def test(self):           #override code
        print("this is a test method form hdfc bank ")

class ineron_bank:
    def account_status_icici(self):
        print("print a account status in icici ")

class icici(HDFC_bank, bank,  ineron_bank):
    pass

In [59]:
object = bank()

In [60]:
object1 = HDFC_bank()

In [61]:
object2 = ineron_bank()

In [62]:
object3 = icici()

In [63]:
object3.test()

this is a test method form hdfc bank